<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    <!-- {% include header.html %} 

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->
    <main>
  
      <section id="portada">
          <div class="informacion">
            <h1><a href="{{ site.baseurl }}/">Saúl Guardado</a></h1>
            <p>Sistemas Operativos II</p>
          </div>
        </section>
        {{ content }}
    </main>


 <!--    {% include footer.html %} -->

  </body>

</html>
